@import "./font/fontTTHoves.css";
:root {
  --chinese-black:#141414;
  --chinese-white:#E1E1E1;
  --white:#FFFFFF;
  --gray:#7f7f7f;
}

@font-face {
  font-family: BRCobane;
  font-weight: normal;
  src: url("font/BRCobaneMedium.otf") format("opentype");
}

font-face {
  font-family: BRCobane;
  font-weight: lighter;
  src: url("font/BRCobaneThin.otf") format("opentype") font-weight-light;
}


font-face {
  font-family: BRCobane;
  font-weight: bolder;
  src: url("font/BRCobaneBold.otf") format("opentype");
}

font-face {
  font-family: BRCobane;
  font-weight: 100;
  src: url("font/BRCobaneExtraLight.otf") format("opentype");
}

/*Body*/
body {
  margin:0;
  padding:0;
  font-family: "BRCobane";
  background-color: var(--chinese-black);
  color:var(--gray);
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
}


/*
  Navigation bar
*/
.nav-bar {
  height:6rem;
  display: flex;
  align-content: space-between;
  width:100vw;
  align-items: center;
}

.logo {
  margin-left: 2rem;
}
.logo>h1 {
  font-weight: bold;
  color:var(--white);
  margin:auto;
}

.logo>h1>span {
  font-weight: lighter;
  letter-spacing: -2px;
  margin-right: 2px;
  color:var(--chinese-white);
}

/** Navbar elements**/
.nav-elements-holder {
  flex:1;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-element {
  width:3rem;
  cursor:pointer;
  display:flex;
  justify-content: center;
}

.nav-element:hover {
  color:var(--chinese-white);
  transition:all 0.5s;
}

.selected {
  color:var(--chinese-white);
}

/** Home-text component **/
#home {
  display: flex;
  align-items: center;
}

.text-controls, .stat-indicator-tracker {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-controls {
  cursor:pointer;
}

.stat-indicator-tracker {
  justify-content: start;
}

.stat-indicator-tracker > span {
  flex-basis: 50%;
}

/**
 set height to 9vw to accompany for 3 x 3vw lines
**/
.main-text-display {
  width:80vw;
  height:4.5rem;
  white-space: initial;
  word-wrap: break-word; 
  line-height:2rem;
  font-size: 1.4rem;
  margin: 5% auto;
  justify-content: left;
  align-items: center;
  display:flex;
  flex-wrap: wrap;
  overflow: hidden;
}


.word {
  margin:0 0.25rem;
  height:1.4rem;
}

/** current-word is the custom theme 
for current word being displayed
**/
.current-word {
  text-decoration: underline;
}

.wrong-word {
  color:red;
}

.correct-word {
  color:var(--white);
}

.main-text-input {
  width:80vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.main-text-input > input {
  margin:0 auto;
  width: fit-content !important;
  display: flex;
  text-align: center;
  font-size: 1.4rem;
  border: none;
  border-bottom: 2px solid white;
  font-family: "BRCobane";
  background-color: transparent;
  color:var(--white);
}

