@import "./font/fontTTHoves.css";

html {
  height: 100vh;
  align-items: center;
  overflow: hidden;
}

.App {
  height: 100vh;
  position: relative;
}

:root {
  --chinese-black: #141414;
  --chinese-white: #E1E1E1;
  --white: #FFFFFF;
  --gray: #7f7f7f;
  --normal-text: 1.7vw;
  --big-text: 2.1vw;
  --super-big-text: 2.5vw;
  --nav-height: 15vh;
}

@font-face {
  font-family: BRCobane;
  font-weight: normal;
  src: url("font/BRCobaneMedium.otf") format("opentype");
}

font-face {
  font-family: BRCobane;
  font-weight: lighter;
  src: url("font/BRCobaneThin.otf") format("opentype") font-weight-light;
}


font-face {
  font-family: BRCobane;
  font-weight: bolder;
  src: url("font/BRCobaneBold.otf") format("opentype");
}

font-face {
  font-family: BRCobane;
  font-weight: 100;
  src: url("font/BRCobaneExtraLight.otf") format("opentype");
}

/*Body*/
body {
  margin: 0;
  padding: 0;
  font-family: "BRCobane";
  overflow-x: hidden;
}

h1 {
  font-size: var(--super-big-text);
}

h3 {
  font-size: var(--normal-text);
}

/*
  Navigation bar
*/
.nav-bar {
  height: var(--nav-height);
  display: flex;
  align-content: space-between;
  width: 100vw;
  align-items: center;
}

.logo {
  margin-left: 2rem;
}

.logo>h1 {
  font-weight: bold;
  margin: auto;
  cursor: none;
}

.logo>h1>span {
  font-weight: lighter;
  letter-spacing: -2px;
  margin-right: 2px;
}

/** Navbar elements**/
.nav-elements-holder {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-element {
  margin: 0 0.6vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.nav-element:hover {
  transition: all 0.5s;
}


/************SETTINGS ELEMENTS *****************/
#Home {
  position: absolute;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

/** Home-text component **/

.text-controls,
.stat-indicator-tracker {
  width: 80vw;
  height: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** React select**/


.icon {
  transform: scale(1.5);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.stat-indicator-tracker {
  justify-content: start;
}

.stat-indicator-tracker>span {
  flex-basis: 50%;
}

/**
 set height to 9vw to accompany for 3 x 3vw lines
**/
.main-text-display {
  width: 80vw;
  height: 9rem;
  white-space: initial;
  word-wrap: break-word;
  line-height: 2rem;
  margin: 5vh auto;
  justify-content: left;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}


.word {
  margin: 0 0.45rem;
  height: 3rem;
  transition: all 0.1s ease-in-out;
  font-size: var(--big-text);
  display: flex;
  align-items: center;
}


/** current-word is the custom theme 
for current word being displayed
**/
.current-word {
  transform: scale(1.08);
  transition: all 0.08s ease-in-out;
  text-decoration: underline 4px;
}

.main-text-input {
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.main-text-input>i {
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
}

#user-input {
  margin: 0 auto;
  padding: 0.5vh 0;
  display: flex;
  text-align: center;
  font-size: var(--big-text);
  font-family: "BRCobane";
  background-color: transparent;
  border-radius: 0 10px 10px 10px;
  transition: all 0.2s ease;
}

input:focus {
  outline: none;
}

/******* RESULT SECION *******/
.result {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: all 0.2s ease;
  display: flex;
  justify-content: space-between;
  transform: translateX(1.5rem);
}

.result-subdata {
  margin: 0 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-subdata>h1 {
  width: fit-content;
  transform: scale(1.3) translateY(-6vh);
}

.result-subdata>i {
  margin-right: 0.7rem;
  margin-top: -0.3rem;
}

/****** STYLING FOR LOADING ANIMATION *******/
.loader {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.loader-dot {
  width: 1rem;
  height: 1rem;
  margin: 0 0.5vw;
  border-radius: 100%;
  background-color: red;
  animation: floating 1.1s infinite ease;
}

.loader-dot:nth-child(1) {
  animation-delay: 0.6s;
}

.loader-dot:nth-child(2) {
  animation-delay: 0.4s;
}

.loader-dot:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes floating {


  50% {
    transform: translateY(-25%);
  }



}